<div class="content bg-blue-400 h-full">
  <div class="grid justify-items-center h-full">
    <div class="grid content-center h-full">
      <div
        class="border rounded-lg w-96 grid justify-items-center h-full bg-white"
      >
        <div class="grid content-center h-full">
          <div>
            <div class="text-center">
              <h2 class="text-2xl font-bold">Entrar</h2>
            </div>

            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="field">
                <%= f.label :email, class: 'text-lg font-bold' %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email",
                class: 'rounded-lg' %>
              </div>

              <div class="field">
                <%= f.label :password, class: 'text-lg font-bold' %><br />
                <%= f.password_field :password, autocomplete: "current-password", class: 'rounded-lg' %>
              </div>

              <% if devise_mapping.rememberable? %>
                <div class="field flex justify-end mt-2">
                  <%= f.check_box :remember_me, class: 'rounded' %>
                  <%= f.label :remember_me %>
                </div>
              <% end %>

              <!-- <div class="actions flex justify-end"> -->
              <div class="actions">
                <%= f.submit "Entrar", class: 'p-1.5 bg-green-800 rounded text-white font-medium block w-full mt-2' %>
                <%= render "devise/shared/links" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
